.app {
    font-size: 12px;
    background-color: #292933;
}

.chart-container {
    width: 100%;
    position: relative;
}

.component-body {
    padding: 0.5rem;
}

.chart-label {
    position: absolute;
    top: -0.25rem;
    left: 0;
}

.pie-chart-label {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
}
